*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    list-style-type: none;
    border: none;
    outline: none;
    font-family: sans-serif;
    transition: 0.5s ease;
}
html{
    scroll-behavior: smooth;
}
button:hover{
    cursor: pointer;
}

/* Navbar Section */
.header{
    padding:.7em 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header img{
    width: 6%;
}
.header nav{
    display: flex;
    justify-content: space-between;
    width: 67%;
    font-size: 1.3em;
}
.header nav p{
    display: inline-block;
    font-size: 1.04em;
}
#menu-btn{
    display: none;
}

/* Welcome Section */
.banner{
    background:linear-gradient(rgba(0,0,0,0.38),rgba(0,0,0,0.39)),url('../images/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    position: relative;
    z-index: 1;
}
.welcome-content{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto 6vw;
    align-items:start;
    z-index: 2;
}
.heading-container{
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 2px;
}
.heading-container h1,.heading-container p,.heading-container h3{
    color: white;
}
.heading-container p{
    font-size: 1.1em;
    margin-top: -.3em;
}
.heading-container a{
    color: rgb(255, 221, 0);
}
.form-container{
    width: 35%;
}
.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-container input,.form-container button{
    width: 80%;
    margin-bottom: 1.5em;
    padding: 0.55em;
    font-size: 1.15vw;
    border-radius: 6px;
}
.form-container input::placeholder{
    color: black;
}
.form-container button{
    border-radius: 8px;
    background-color: rgba(9, 136, 175, 0.684);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

/* Form Popup Section */
.form-popup{
    position: fixed;
    z-index: 10;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.form-popup .form-content{
    width: 48%;
    background-color: white;
    margin: 6em auto;
    padding: 0.5em;
    border-radius: 5px;
}
.form-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.form-content img{
    width: 95%;
    height: 65vh;
    object-fit: cover;
    filter: grayscale(0.5);
}
.form-heading{
    line-height: 2.3em;
}
.form-heading form{
    margin: 2em 0;
}
.form-heading form input{
    display: block;
    border:1px solid black;
    padding: 0.5em;
    font-size: 1.24vw;
    width: 95%;
    margin: 0.8em 0;
    border-radius: 5px;
}
.form-heading p{
    color: rgb(1, 1, 110);
    font-weight: bold;
    font-size: 1.5vw;
}
.form-heading h2{
    color: rgb(1, 119, 1);
}
.form-heading form button{
    width: 95%;
    background-color: rgb(5, 121, 142);
    padding: 0.5em;
    font-size: 1.24vw;
    color: white;
    border-radius: 5px;
}
.form-heading form input::placeholder{
    color: black;
}
.close-modal{
    display: block;
    text-align: end;
    margin: 0.4em 0.3em;
    font-size: 2.5em;
}
.close-modal:hover{
    cursor: pointer;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}   
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.form-popup{
    display: none;
}

/* Overview Section */
.overview-section{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgb(227, 241, 253);
}
.overview-container{
    max-width: 1350px;
    margin:0 auto;
    padding: 3em 1.5em;
    border-radius: 8px;
    text-align: center;
}
.overview-info{
    letter-spacing: 1px;
    line-height: 2;
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: start;
    gap:1.2em;
}
.overview-info div{
    margin: .8em;
}
.overview-container h1{ 
    display: inline-block;
    width: 30%;
    margin-bottom:2em ;
    padding-bottom: 0.5em;
    font-size: 2.2em;
    letter-spacing: 1.2px;
    border-bottom: 6px solid rgb(5, 121, 142);
}
.overview-container h2{
    font-weight: 900;
}
.overview-container li{
    list-style-type:circle;
}
.overview-container p{
    margin: 0.2em;
    font-size: 1.08em;
}
.method1{
    width: 24%;
    object-fit: cover;
    border-radius: 1%;
}
.method2{
    width: 24%;
    object-fit: cover;
    border-radius: 1%;
}
.sidenav{
    height: 100%;
    width: 3.7%; 
    position: absolute; 
    top: -13px; 
    right: -15px;
    bottom: -10px;
    background-color: rgb(5, 121, 142);  
}

/* Overview Section Medium */
.overview-section-medium{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgb(227, 241, 253);
}
.overview-container-medium{
    max-width: 1350px;
    margin:0 auto;
    padding: 3em 1.5em;
    border-radius: 8px;
    text-align: center;
}
.overview-info-medium{
    letter-spacing: 1px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: start;
    gap:1.2em;
}
.overview-info-medium div{
    margin: .8em;
}
.overview-container-medium h1{ 
    display: inline-block;
    width: 30%;
    margin-bottom:2em ;
    padding-bottom: 0.5em;
    font-size: 2.2em;
    letter-spacing: 1.2px;
    border-bottom: 6px solid rgb(5, 121, 142);
}
.overview-container-medium h2{
    font-weight: 900;
}
.overview-container-medium li{
    list-style-type:circle;
    text-align: start;
}
.overview-container-medium p{
    margin: 0.2em;
    font-size: 1.08em;
    text-align: justify;
}
.method1{
    width: 24%;
    object-fit: cover;
    border-radius: 1%;
}
.method2{
    width: 24%;
    object-fit: cover;
    border-radius: 1%;
}
.overview-info-medium-images{
    display: flex;
    justify-content: space-evenly;
}
.overview-info-medium-images img{
    width: 35%;
    margin: 1rem;  
}
.sidenav-medium{
    height: 100%;
    width: 3.7%; 
    position: absolute; 
    top: -13px; 
    right: -15px;
    bottom: -10px;
    background-color: rgb(5, 121, 142);  
}
.overview-content-medium{
    text-align: center;
    padding: 1rem;
}

/* Gallery Section */
.gallery-section{
    text-align: center;
    font-size: 1.65em;
    padding: 2.5em;
}
.gallery-section h1{
    text-align: center;
    display: inline-block;
    width: 30%;
    padding-bottom: 0.5em;
    letter-spacing: 1.2px;
    border-bottom: 6px solid rgb(5, 121, 142);
}
.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.8em auto;
}
.gallery{
    display: flex;
    width: 1200px;
    overflow-x: scroll;
}
.gallery div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 0.5em 15px;
    flex: none;
}
.gallery::-webkit-scrollbar{
    display: none;
}
#nextbtn, #backbtn{
    cursor: pointer;
}
.gallery div img {
    transition: transform 0.5s;
}
.gallery div img:hover{
    cursor: pointer;
    transform: scale(1.05);
    filter: grayscale(0.5);
}
.box1 img, .box2 img{
    height: 400px;
    width: 380px;
}

/* Connectivity Section */
.connectivity-section{
    text-align: center;
}
.connectivity-section h1{
    display: inline-block;
    text-align: center;
    font-size: 2.5em;
    margin: 1.2em;
    width: 30%;
    padding-bottom: 0.5em;
    letter-spacing: 1.2px;
    border-bottom: 6px solid rgb(5, 121, 142);
}
.connectivity-container{
    background: linear-gradient(rgba(0, 217, 255, 0.234),rgba(0, 217, 255, 0.2)),url('../images/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}
.connectivity-wrap{
    display: flex;
    flex-direction: row;
    background-color: black;
    opacity: 0.8;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 120px 100px;
}
.connectivity-wrap span{
    padding: 0px;
    color: white;
}
.connectivity-wrap img{
    padding: 15px 0px;
    width: 260px;
}

/* Amenities Section */
.amenities-container{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 1em;
    transition: 0.5s ease;
    text-align: center;
}
.amenities-container h1{
    display: inline-block;
    text-align: center;
    font-size: 2.5em;
    margin: 1.2em auto;
    width: 30%;
    padding-bottom: 0.5em;
    letter-spacing: 1.2px;
    border-bottom: 6px solid rgb(5, 121, 142);
}
.glide__slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 75vh;
    width: 100%;
    border-radius: 1.5%;
    position: relative;
    margin-bottom: 2.5em;
}
.glide__slide:hover{
    filter: grayscale(0.5);
}
.amenities-content h3{
    position: absolute;
    top:0;
    left:0;
    padding: 1.25em;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgba(0,0,0,0.5);
}
.amenities-content p{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    padding: 2em;
    line-height: 1.5;
    font-size: 1.15em;
    letter-spacing: 1.35px;
    text-align: justify;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgba(0,0,0,0.5);
}
.amenities-content h3,.amenities-content p{
    color: white;
}

/* Pricelist Section */
.pricelist-section{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgb(227, 241, 253); 
    padding: 3.5em;
}
.pricelist-container{
    max-width: 1100px;
    margin:0 auto;
    text-align: center;
}
.pricelist-container h1{
    display: inline-block;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1.2em;
    width: 30%;
    padding-bottom: 0.5em;
    letter-spacing: 1.2px;
    border-bottom: 6px solid rgb(5, 121, 142);
}
.pricelist-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:2.5em;
}
.pricelist-grid div{
    border: 2px solid;
    padding: 1.5em;
    border-radius: 12px;
    background-color: white;
}
.office-space,.retail-space{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.office-space{
    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.85)),url("../images/pricelist/office-space.jpg");
}
.retail-space{
    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.85)),url("../images/pricelist/retail-space.jpg");
}
.office-space .space,.retail-space .space{
    padding: 0.3em;
}
.office-space .price,.retail-space .price{
    display: inline-block;
    color:rgb(5, 121, 142);
    padding: 0.5em;
}
.office-space p,.retail-space p{
    text-align: justify;
    line-height: 1.7;
    font-size: 1.25em;
}
.office-space button,.retail-space button{
    padding: 12px 16px;
    font-size: 1.15em;
    color: white;
    border-radius: 12px;
    margin: .5em;
    background-color: rgb(5, 121, 142);
}
.office-space button:hover,.retail-space button:hover{
    cursor: pointer;
}
.sidenav-price{
    height: 100%;
    width: 3.5%; 
    position: absolute; 
    top: 0; 
    right: 0;
    bottom:0;
    background-color: rgb(5, 121, 142);  
}

/* Footer Section */
.footer-column{
    margin: 50px 0px 0px 0px;
    background-color:rgb(5, 121, 142);
    display: flex;
    flex-direction: row;
    padding: 80px;
    margin-top: 0;
}
.footer-column1{
    padding-right: 22%;
}
.footer-column1 p{
    text-align: justify;
    line-height: 1.5;
}
.footer-column h3, .footer-column a, .footer-column i, .footer-column p{   
    color: white;
}
.footer-column i{
    padding-right: 12px;
}
.footer-column h3{
    font-size: 30px;
    padding-bottom: 20px;
}
.footer-form{
    text-align: center;
}
.footer-form input, .footer-form button{
    width: 450px;
    padding: 8px 12px;
    margin: 10px 0px;
    border-radius: 8px;
}
.footer-form input{
    border: 2px solid rgb(2, 101, 118);
    font-size: 1.06em;
}
.footer-form input:focus{
    border: 2px solid black;
}
.footer-form button{
    color: black;
    background-color: rgb(255, 221, 0);
    font-weight: 550;
    font-size: large;
}
.footer-form button:hover{
    background-color: rgb(251, 230, 95);
    cursor: pointer;
}
.footer-form button:active{
	transform: scale(0.95);
}
.footer-bottom{
    padding: 20px;
    text-align: center;
    background-color: #eef;
}

/* Highlights Section */
.highlights-section{
    padding-top: 3em;
    text-align: center;
}
.highlights-section h1{
    display: inline-block;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1.2em;
    width: 30%;
    padding-bottom: 0.5em;
    letter-spacing: 1.2px;
    border-bottom: 6px solid rgb(5, 121, 142);
}
.highlights-container{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.22)),url('../images/highlights-crop.jpeg') no-repeat;
    background-size: cover;
    height: 78vh;
    padding:25px;   
    flex-wrap: wrap;
    background-position: center;  
}
.h1{
    background: none;
}
.h1-top{
    display: flex;
    margin-bottom: 5rem;  
}
.h1-bottom{
    display: flex;  
}
.h1-item{ 
    background-color: rgba(186, 219, 246, 0.684);
    min-width: 330px;
    max-width: 400px;
    margin: 1rem;
    padding: 0rem;
    font-family: sans-serif;
    font-size: 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;   
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 6px 6px 6px 0px rgba(255, 255, 255, 0.25);
}
.h1-item h4{
    margin: 0.5rem;
    font-size: 20px;
    border-bottom: 6px solid rgb(5, 121, 142);
    width: max-content;
    padding-bottom: 5px;
}
.h1-item p{
    font-weight: 510;
}

/* Map Section */
.map-container{
    text-align: center;
    margin-top: 25px;
}
.map-container h1{
    display: inline-block;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1.2em;
    margin-top: 1em;
    width: 30%;
    padding-bottom: 0.5em;
    letter-spacing: 1.2px;
    border-bottom: 6px solid rgb(5, 121, 142);
}
.map-container img{
    width: 750px;
    margin: 15px;   
}
.map-image img{
    border: 30px solid rgba(186, 219, 246, 0.684) ;
}
.heading-map{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

/* Floor Plan Section */
.floor-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    padding-top: 3em;    
}
.floor-container-heading{
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
.floor-container h1{
    display: inline-block;
    text-align: center;
    font-size: 2.5em;
    width: 30%;
    padding-bottom: 0.5em;
    letter-spacing: 1.2px;
    border-bottom: 6px solid rgb(5, 121, 142);
}
.floor-image-container{
    display: flex;
    justify-content: space-evenly;
}
.ground-floor h2,.lower-ground-floor h2{
    margin: 0.8em;
    font-size: 1.75em;
}
.floor-container img{
    width:550px;
}

/* Media Queries */

/* Navbar Section*/
@media screen and (min-width:1300px) {
    .header p::after{
        content: "";
        display: block;
        height: 3.5px;
        transform: scaleX(0);
        background-color:black;
        transition: transform 300ms;
    }
    .header p:hover::after{
        transform: scaleX(1);
    }  
}
@media screen and (max-width:1300px) {
    .header{
        position: relative;
    }
    .header nav{
        position: absolute;
        display: block;
        top:99%;
        left:0;
        right: 0;
        z-index: 5;
        width: 100%;
        background-color: white;
    }
    .navbar-container{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header nav p:nth-child(1){
        border-top: 1px solid black;
    }
    .header nav p{
        display: block;
        text-align: center;
        padding: 0.8em;
        border-bottom: 1px solid black;
    }
    .header nav a:hover{
        color: darkblue;
    }
    .header img{
        width: 8%;
    }
    #menu-btn{
        display: block;
        padding: 10px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 1.3em;
    }
    .open-menu{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
@media screen and (max-width:1000px) {
    .header img{
        width: 10%;
    }
}
@media screen and (max-width:800px) {
    .header img{
        width: 14%;
    }
}
@media screen and (max-width:600px) {
    .header img{
        width: 16%;
    }
}

/* Welcome Section */
@media screen and (max-width:1200px) {
    .welcome-content{
        width: 90%;
    }
    .heading-container{
        font-size: 2vw;
    }
    .form-container{
        width: 45%;
    }
    .form-container input,.form-container button{
        padding: 0.7em;
        font-size: 1.45vw;
    }
}
@media screen and (max-width:900px) {
    .welcome-content{
        flex-direction: column;
        align-items: center;
        gap: 2.5em;
    }
    .heading-container{
        margin-top: 2em;
        font-size: 2.3vw;
        text-align: center;
    }
    .form-container{
        width: 60%;
    }
    .form-container form{
        align-items: center;
    }
    .form-container input,.form-container button{
        padding: 0.8em;
        font-size: 1.8vw;
    }
}
@media screen and (max-width:600px) {
    .heading-container{
        font-size: 2.8vw;
        text-align: center;
    }
}
@media screen and (max-width:580px) {
    .heading-container{
        font-size: 3.4vw;
        text-align: center;
    }
    .form-container{
        width: 80%;
    }
    .form-container form{
        align-items: center;
    }
    .form-container input,.form-container button{
        padding: 1em;
        font-size: 2vw;
    }
}

/* Amenities Section */
@media screen and (max-width:1200px) {
    .amenities-container{
        max-width: 90%;
    }
    .amenities-container h1{
        width: 40%;
    }
}
@media screen and (max-width:767px) {
    .glide__slide{
        min-height: 65vh;
        border-radius: 3.5%;
    }
    .amenities-container h1{
        width: 60%;
    }
    .amenities-content h3{
        font-size: 95%;
    }
    .amenities-content p{
        font-size: 1.05em;
    }
} 

/* Price List Section */
@media screen and (max-width:1200px) {
    .pricelist-container{
        max-width: 90%;
        margin: auto;
    }
    .pricelist-container h1{
        white-space: nowrap;
    }
}
@media screen and (max-width:767px) {
    .pricelist-grid{
        grid-template-columns: 1fr;
    }
    .pricelist-container h1{
        width: 60%;
    }
    .sidenav-price{
        display: none;
    }
    .office-space p,.retail-space p{
        font-size: 1.15em;
    }
} 

/* Form Popup Section */
@media screen and (max-width:1300px) {
    .form-popup .form-content{
        width:80%;
        position: relative;
    }
    .close-modal{
        position: absolute;
        top:0;
        right: 0;
    }
    .form-heading form input,.form-heading form button{
        padding: 0.6em;
        font-size: 1.45vw;
    }
    .form-heading p{
        font-size: 1.4em;
    }
}
@media screen and (max-width:1000px) {
    .form-heading form input,.form-heading form button{
        padding: 0.75em;
        font-size: 1.75vw;
    }
    .form-heading p{
        font-size: 1.3em;
    }
}
@media screen and (max-width:800px) {
    .form-popup .form-content{
        width:95%;
        position: relative;
    }
    .form-content img{
        height: 60vh;
    }
    .form-heading form input,.form-heading form button{
        font-size: 1.95vw;
    }
    .form-heading{
        margin-top: 2.5em;
    }
}
@media screen and (max-width:500px) {
    .form-heading form input,.form-heading form button{
        font-size: 3.5vw;
    }
    .form-content img{
        display: none;
    }
    .form-popup .form-content{
        padding: 1em;
        margin: 4em auto;
    }
    .form-content{
        grid-template-columns: 1fr;
    }
}

/* Highlights Section */
@media screen and (max-width:1050px) {
    .highlights-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
        width: auto;    
        height: 150vh;
    }
    .highlights-section h1{
        width: 60%;
    }
    .h1-item{
      width: 80%;
    }   
}
@media screen and (max-width:750px) {
    .highlights-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
        width: auto;    
        height: 200vh;
    }
    .h1-item{
      width: 80%;
    } 
}

/* Map Section */
@media screen and (max-width:1000px) {
    .map-image img{
        width: 80%;
        border: 15px solid rgba(186, 219, 246, 0.684);
    }  
    .map-container h1{
        width: 60%;
    }
}

/* Floor Plan Section */
@media screen and (max-width:1100px) {
    .floor-image-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .floor-container img{
        width: 80%;
        margin: 1rem;
    } 
    .floor-container h1{
        width: 60%;
    }
    .floor-container-heading{
        margin-bottom: 1em;
    }
}

/* Overview Section */
@media screen and (min-width:1500px) {
    .overview-section-medium{
        display: none;
    }
}
@media screen and (min-width:1100px) and (max-width:1500px){
    .overview-section-medium{
        display: none;
    }
    .sidenav{
        display: none;
    } 
}
@media screen and (min-width:700px) and (max-width:1100px) {
    .overview-section{
        display: none;
    } 
    .overview-container-medium h1{
        white-space: nowrap;
        width: 60%;
    }
}
@media screen and (min-width:500px) and (max-width:700px) {
    .overview-section-medium{
        display: none;
    }
    .overview-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .overview-info img{
        width: 80%;
        height: auto;
    }
    .sidenav{
        display: none;
    }
    .overview-container h1{
        text-align: center;
    }   
}

/* Floor Plan Section */
@media screen and (min-width:900px) and (max-width:1500px){
    .floor-image-container img{
        width: 80%;
    }
}
@media screen and (max-width:900px) {
    .floor-image-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
    }
    .floor-image-container img{
        width:95%;
    }
}

/* Gallery Section */
@media screen and (max-width:767px) {
    .gallery-section h1{
        width: 60%;
    }
}

/* Footer Section */
@media screen and (max-width:1000px) {
    .footer-column1{
        padding-right: 0px;
    }
    .footer-column{
        display: flex;
        flex-direction: column;
    }
    .footer-column1 p a{
        display: none;
    }
    .footer-form{
        text-align: left;
    } 
    .footer-form p a{
        display: flex;
        padding-top: 10px;
    }
    .footer-form p{
        flex-direction: row;
    }
    .footer-column2 h3{
        padding-top: 20px;
    }
    .footer-form input, .footer-form button{
        width: 350px;
    }
}
@media screen and (min-width:1000px) and (max-width:1300px){
    .footer-column1{
        padding-right: 5%;
    }
    .footer-form input, .footer-form button{
        width: 250px;
    }
}
@media screen and (min-width:1300px) and (max-width:1400px){
    .footer-column1{
        padding-right: 3%;
    }
}
/* Connectivity Section*/
@media screen and (max-width:1000px) {
    .connectivity-section{
        display: none;
    }
    .connectivity-section2{
        display: flex;
    }
    .connectivity-section2 div span{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .connectivity2{
        width: 900px;
        display: flex;
        overflow-x: scroll;
    }
    .connectivity2 div{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
    }
    .connectivity2 span{
        width: 100%;
    }
    .connectivity-wrap2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10% auto;
    }
    .connectivity2 div span{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width:1000px) and (max-width:1300px){
    .connectivity-wrap img{
        width: 160px;
    }
}