*{
    font-family: sans-serif;
}
.overview-info{
    letter-spacing: 1px;
    line-height: 20px;
    padding: 50px 150px;
    display: flex;
    flex-direction: row;
}
#h1{
    text-align: center;
}
#h2{
    margin: 0%;
    font-weight: 900;
}
.method2{
    padding: 0px 70px;
}
.method1{
    box-shadow: 0px 5px 5px 0px rgba(79,79,79,0.41);
}
.sidenav{
    height: 550px; 
    width: 8%; 
    position: absolute; 
    top: 72%; 
    right: 0; 
    background-color: #153ef2; 
}
section{
    text-align: center;
}
.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% auto;
}
.gallery{
    display: flex;
    width: 1250px;
    overflow-x: scroll;
}
.gallery div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 50px 15px;
    flex: none;
}
.gallery::-webkit-scrollbar{
    display: none;
}
#nextbtn, #backbtn{
    cursor: pointer;
}
.gallery div img {
    transition: transform 0.3s;
}
.gallery div img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.box1 img, .box2 img{
    height: 400px;
    width: 380px;
}