*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    list-style-type: none;
    border: none;
    outline: none;
    font-family: sans-serif;
    transition: 0.5s ease;
}
html{
    scroll-behavior: smooth;
}
/* Navbar Section */
.header{
    padding:.7em 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header img{
    width: 6%;
}
.header nav{
    display: flex;
    justify-content: space-between;
    width: 67%;
    font-size: 1.3em;
}
.header nav p{
    display: inline-block;
    font-size: 1.04em;
}
#menu-btn{
    display: none;
}

/* Welcome Section */
.banner{
    background:linear-gradient(rgba(0,0,0,0.38),rgba(0,0,0,0.39)),url('images/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    position: relative;
    z-index: 1;
}
.welcome-content{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto 6vw;
    align-items:start;
    z-index: 2;
}
.heading-container{
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 2px;
}
.heading-container h1,.heading-container p,.heading-container h3{
    color: white;
}
.heading-container p{
    font-size: 1.1em;
    margin-top: -.3em;
}
.heading-container a{
    color: rgb(255, 221, 0);
}
.form-container{
    width: 35%;
}
.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-container input,.form-container button{
    width: 80%;
    margin-bottom: 1.5em;
    padding: 0.55em;
    font-size: 1.15vw;
    border-radius: 6px;
}
.form-container input::placeholder{
    color: black;
}
.form-container button{
    border-radius: 8px;
    background-color: rgba(9, 136, 175, 0.684);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

/* Form Popup Section */
.form-popup{
    position: fixed;
    z-index: 10;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.form-popup .form-content{
    width: 48%;
    background-color: white;
    margin: 6em auto;
    padding: 0.5em;
    border-radius: 5px;
}
.form-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.form-content img{
    width: 95%;
    height: 65vh;
    object-fit: cover;
    filter: grayscale(0.5);
}
.form-heading{
    line-height: 2.3em;
}
.form-heading form{
    margin: 2em 0;
}
.form-heading form input{
    display: block;
    border:1px solid black;
    padding: 0.5em;
    font-size: 1.24vw;
    width: 95%;
    margin: 0.8em 0;
    border-radius: 5px;
}
.form-heading p{
    color: rgb(1, 1, 110);
    font-weight: bold;
    font-size: 1.5vw;
}
.form-heading h2{
    color: rgb(1, 119, 1);
}
.form-heading form button{
    width: 95%;
    background-color: rgb(5, 121, 142);
    padding: 0.5em;
    font-size: 1.24vw;
    color: white;
    border-radius: 5px;
}
.form-heading form input::placeholder{
    color: black;
}
.close-modal{
    display: block;
    text-align: end;
    margin: 0.4em 0.3em;
    font-size: 2.5em;
}
.form-popup{
    display: none;
}

/* Overview Section */
.overview-section{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgb(227, 241, 253);
}
.overview-container{
    max-width: 1350px;
    margin:0 auto;
    padding: 3em 1.5em;
    border-radius: 8px;
    text-align: center;
}
.overview-info{
    letter-spacing: 1px;
    line-height: 2;
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: start;
    gap:1.2em;
}
.overview-info div{
    margin: .8em;
}
.overview-container h1{ 
    display: inline-block;
    width: 40%;
    margin-bottom:2em ;
    padding-bottom: 0.5em;
    font-size: 2.2em;
    letter-spacing: 1.2px;
    border-bottom: 6px solid rgb(5, 121, 142);
}
.overview-container h2{
    font-weight: 900;
}
.overview-container li{
    list-style-type:circle;
}
.overview-container p{
    margin: 0.2em;
    font-size: 1.08em;
}
.method1{
    width: 24%;
    object-fit: cover;
    border-radius: 1%;
}
.method2{
    width: 24%;
    object-fit: cover;
    border-radius: 1%;
}
.sidenav{
    height: 100%;
    width: 3.7%; 
    position: absolute; 
    top: -13px; 
    right: -15px;
    bottom: -10px;
    background-color: rgb(5, 121, 142);  
}

/* Gallery Section */
.gallery-section{
    text-align: center;
    font-size: 1.65em;
    padding: 2.5em;
}
.gallery-section h1{
    text-align: center;
    display: inline-block;
    width: 40%;
    padding-bottom: 0.5em;
    letter-spacing: 1.2px;
    border-bottom: 6px solid rgb(5, 121, 142);
}
.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.8em auto;
}
.gallery{
    display: flex;
    width: 1200px;
    overflow-x: scroll;
}
.gallery div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 0.5em 15px;
    flex: none;
}
.gallery::-webkit-scrollbar{
    display: none;
}
#nextbtn, #backbtn{
    cursor: pointer;
}
.gallery div img {
    transition: transform 0.5s;
}
.gallery div img:hover{
    cursor: pointer;
    transform: scale(1.05);
    filter: grayscale(0.5);
}
.box1 img, .box2 img{
    height: 400px;
    width: 380px;
}

/* Media Queries */
@media screen and (min-width:1000px) {
    .header p::after{
        content: "";
        display: block;
        height: 3.5px;
        transform: scaleX(0);
        background-color:black;
        transition: transform 300ms;
    }
    .header p:hover::after{
        transform: scaleX(1);
    }  
}
@media screen and (max-width:1000px) {
    .header{
        position: relative;
    }
    .header nav{
        position: absolute;
        display: block;
        top:99%;
        left:0;
        right: 0;
        z-index: 5;
        width: 100%;
        background-color: white;
    }
    .navbar-container{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header nav p:nth-child(1){
        border-top: 1px solid black;
    }
    .header nav p{
        display: block;
        text-align: center;
        padding: 0.8em;
        border-bottom: 1px solid black;
    }
    .header nav a:hover{
        color: darkblue;
    }
    .header img{
        width: 15%;
    }
    #menu-btn{
        display: block;
        padding: 10px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 1.3em;
    }
    .open-menu{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}


.floor-container,.map-container,.highlights-container,.pricelist-container{
    display: none;
}